.speech
{
    color:black;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.direction
{
    background-color:lavender;
    color: black;
    font-size:small;
    font-family: 'Courier New', Courier, monospace;
}
.direction:hover
{
    color: blue;
    background-color: cyan;
}
.name {
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.MARY {
    color: palevioletred;
}
.MORGAN {
    color:orange;
}
.AUNT_CANDACE {
    color:cornflowerblue;
}

table {
    border-color: black;
    width: 50%;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
th {
    border: 1px solid;
    border-radius: 5px;
    border-color:darkblue;
    color: white;
    height: 50px;
    background-color:coral;
}
td {
    border: 1px solid;
    border-radius: 5px;
    border-color: coral;
    height: 30px;
}

tr:hover {background-color:dodgerblue;}

.MARY:hover{
    font-size: medium;
    color: palevioletred;
    text-shadow: 0 0 10px palevioletred;
    border-style: dashed;
    border-radius: 5px;
}
.MORGAN:hover {
    font-size: medium;
    color: orange;
    text-shadow: 0 0 10px orange;
    border-style: dashed;
    border-radius: 5px;}
.AUNT_CANDACE:hover {
    font-size: medium;
    color: cornflowerblue;
    text-shadow: 0 0 10px cornflowerblue;
    border-style: dashed;
    border-radius: 5px;}
